
:root{
    --blue: #2b5c9c;
    --yellow-darker: #e69c3d;
    --yellow: #e2d306;
    --grey: #FAE3;
    --red: #9b2424;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
.google-sans-code> {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

*{
    font-family: "Google Sans Code";
}
body{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    background-color:#242323;
    margin:0;
    padding:0;

}
.container{
    width: 800px;
    color:var(--yellow-darker);
}

#top-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--blue);
    border-radius: 5px 5px 0 0;

    text-align:center;  
    width: 100%;
    height: auto;
    padding: 10px;
}
#form-container{
    box-sizing: box-content;
    display:flex;
    flex-flow: column wrap;
    color: var(--yellow-darker);
    margin:auto;
    width: 15%;
    align-self:center;
}
.card{
    padding:2.5px;
    margin:5px;
    border: 2.5px solid var(--blue);
    background-color:var(--yellow-darker);
    color:var(--blue);
    align-self: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 5px 1.5px;
    width: auto;
    align-self: stretch;
    

}

#mid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    max-height: 100vh; 
    margin: 10px;
    border-radius:0 0 5px 5px;
    width: auto;
    gap: 10px;

}

.card:hover{
    padding:2.5px;
    margin:-5px;
    border: 2.5px solid var(--grey);
    background-color:var(--blue);
    color:var(--yellow-darker);
    align-self: stretch;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 5px 1.5px;
    cursor: wait;
    border-color: var(--yellow-darker);

}
.card.completed{
    text-decoration: line-through;
  color: gray; /* Optional: dim the text to show it's done */
    cursor: not-allowed;
    background-color: #0f0f0f;
}
.card.completed:hover{
    background-color: #090909;
    border-color: var(--red);
    color:var(--red);
}
textarea,
input{
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 10px;
    cursor: crosshair;
    resize: none;
}
textarea{
    width: 15rem;
    height: 15rem;
}
button{
    padding:5px;
    border-radius: 5px;
    width: 100px;
    cursor: grab;
    margin-top: auto;

}
sub{
    font-size: small;
    font-style: oblique;
}